---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/Blogpost.astro';

// Load all post components with metadata from frontmatter
const allPostImports = import.meta.glob('../pages/blog/posts/*.astro', { eager: true });



const allPosts = Object.entries(allPostImports).map(([path, mod]) => {
const url = '/' + path
  .replace('../pages', '')
  .replace('.astro', '')
  .replace('/index', '/');
  return {
    url,
    title: mod.frontmatter?.title || 'Untitled',
    date: mod.frontmatter?.date || 'Unknown Date',
    cycle: mod.frontmatter?.cycle || 'Unknown Cycle',
    abstract: mod.frontmatter?.abstract || 'Unknown Tale',
  };
});

const pageTitle = "Transmissions_Manifest";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Access All Narrative Data Streams:</h2>
  <div class="post-grid">
    {allPosts.map(post => (
      <BlogPost 
        url={post.url} 
        title={post.title} 
        date={post.date} 
        cycle={post.cycle} 
        abstract={post.abstract} 
      />
    ))}
  </div>
</BaseLayout>